<%- include('partials/header') %>

 <h1> Famous Quotes - Admin Section </h1>


   <form action="/author/new">
     <button class="btn">Add Authors</button>
   </form><br>


   <form action="/quote/new">
     <button class="btn">Add Quotes</button>
   </form><br>


   <form action="/authors">
     <button class="btn">List Authors</button>
   </form><br>
 
   <form action="/quotes">
     <button class="btn">List Quotes</button>
   </form>

<%- include('partials/footer') %>